.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* login css */

.login {
    margin: 2% auto;
    width: 30%;
    background-color: gainsboro;
    padding: 5%;
}

.memeDropZone {
  color: blue;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: dotted 5px;
  margin: 10%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.UpVote {
  padding: 10px;
  background-color: lightskyblue;
  border: 2px solid black;
}

.UpVote:hover {
  background-color: whitesmoke;
}

.UpVote:active {
  background-color: yellow;
}

.MemeChild {
  width: 30%;
  padding: 1%;
}

.navbar {
  margin-bottom: 3vh !important
}

.u_name_field {
  font-style: italic;
}

.u_name_field :hover {
  cursor: pointer;
}